<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of SummerCamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Glance - SummerCamp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - SummerCamp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SummerCamp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SummerCamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchCoreDataProxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E0F9C71B73B4CF00CDDB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E0F9DF1B73B4CF00CDDB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E0F9F41B73B4DB00CDDB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E0F9FE1B73B4DB00CDDB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E0FA271B73B4E500CDDB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
